<app-header></app-header>

<main class="main-content">
  <div class="intro">
    <h1>Hello, my name is Agustín Marquardt</h1>
    <p>I am a Creative Developer who is currently based in Rosario, Argentina.</p>
  </div>

  <div class="badges">
    <app-badge title="Full Stack Developer" icon="code"></app-badge>
    <app-badge title="Data Scientist" icon="atom"></app-badge>
    <app-badge title="Electronic Technician" icon="cpu"></app-badge>
  </div>

  <div class="profile">
    <img src="../../../assets/fotoPerfil.png" alt="Agustín Marquardt photo" />
  </div>
</main>

<app-footer></app-footer>
