<main class="main-content">
  <div class="intro">
    <h1>Hello, my name is Agustín Marquardt</h1>
    <p>I am a Creative Developer who is currently based in Rosario, Argentina.</p>
  </div>

  <div class="badges">
    <app-badge title="Full Stack Developer" icon="code" color="primary"></app-badge>
    <app-badge title="Data Scientist" icon="analytics" color="accent"></app-badge>
    <app-badge title="Electronic Technician" icon="electrical_services" color="warn"></app-badge>
  </div>

  <div class="profile">
    <img src="../../../assets/fotoPerfil.png" alt="Agustín Marquardt photo" />
  </div>
</main>