<div class="social-icons">
    <a href="link-a-github">
        <svg class="icon">
            <use xlink:href="assets/icons.svg#github"></use>
        </svg>
    </a>
    <a href="link-a-linkedin">
        <svg class="icon">
            <use xlink:href="assets/icons.svg#linkedin"></use>
        </svg>
    </a>
    <a href="link-a-twitter">
        <svg class="icon">
            <use xlink:href="assets/icons.svg#twitter"></use>
        </svg>
    </a>
    <a href="link-a-fb">
        <svg class="icon">
            <use xlink:href="assets/icons.svg#facebook"></use>
        </svg>
    </a>
</div>